@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dim"] {
  --rounded-box: 0.3rem;
  --rounded-btn: 0.2rem;
}

.ghost-color {
  background-color: oklch(var(--bc)/0.2) !important;
  border-color: transparent !important;
}

.nav {
  border-color: oklch(var(--bc)/0.2) !important;
}

body, .markdown-body {
    font-family: 'Cairo', sans-serif !important;
}

.h-full-minus-bar {
  /* screen - navbar */
  height: calc(100vh - 82px);
}

/* Monaco Editor */
/* .monaco-editor, .overflow-guard {
  border-radius: 0.2rem;
} */

.iPadShowKeyboard{
  display: none;
}

.no-user-select, .showUnused {
  padding-top: 8px !important;
}

/* Markdown */
body .markdown-body {
  background-color: inherit !important;
  color: oklch(var(--bc)) !important;
}

.markdown-body h2 {
  width: fit-content;
  border-color: oklch(var(--bc)) !important;
}

pre {
  direction: ltr !important;
}

.markdown-body .highlight pre {
  background-color: var(--fallback-b3,oklch(var(--b3)/1)) !important;
}

.markdown-body .highlight pre .comment {
  color: #608B44 !important;
}

mark {
  background-color: oklch(var(--b3));
  color: inherit;
  padding: 10px;
  padding-right: 20px;
  display: inline-block; 
  position: relative; 
  width: 100%;
  border-radius: 0.2rem;
  margin-bottom: 10px;
}

mark::before {
  content: "ملاحظة 📝";
  font-size: 20px;
  display: block;
  font-weight: bold;
}
.quiz {
  background-color: oklch(var(--b3));
  color: inherit;
  padding: 10px;
  padding-right: 20px;
  display: inline-block; 
  position: relative; 
  width: 100%;
  border-radius: 0.2rem;
  margin-bottom: 10px;
}
.quiz::before {
  content: "إختبار 🧪";
  font-size: 20px;
  display: block;
  font-weight: bold;
}
/* Split Panel */
.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  position: relative;
  z-index: 2;
  background-color: oklch(var(--b3));
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 7px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  filter: invert(100%);
  background-repeat: no-repeat;
  pointer-events: none; 
}

[data-theme="dim"] .gutter::before {
  filter: none;
}

.gutter.gutter-horizontal::before {
  content: ''; 
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--fallback-bc,oklch(var(--bc)/.2));
  border-radius: 0.2rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--fallback-bc,oklch(var(--bc)/.2)) var(--fallback-bc,oklch(var(--bc)/.2));
}

body::-moz-scrollbar-track {
  background-color: transparent;
}

body::-moz-scrollbar-thumb {
  background-color: var(--fallback-bc,oklch(var(--bc)/.2));
  border-radius: 0.2rem;
}

/* loader */
.code-loader {
  color: var(--fallback-bc,oklch(var(--bc)/1));
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 100px;
  opacity: 0.8;
}

.code-loader span {
  display: inline-block;
  animation: pulse_414 0.4s alternate infinite ease-in-out;
}

.code-loader span:nth-child(odd) {
  animation-delay: 0.4s;
}

@keyframes pulse_414 {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

/* copy button */
.highlight {
  position: relative;
}

.copy-button {
  background-color: oklch(var(--bc)/0.2);
  padding: 5px;
  border-radius: 0.2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

/* Ladning page and course page background images */
[data-theme="dim"] .bg-patternTop, [data-theme="dim"] .bg-waves {
  filter: invert(91%) sepia(9%) saturate(664%) hue-rotate(161deg) brightness(90%) contrast(84%);
}

.bg-patternTop {
  background-image: url(../patternTop.svg);
}
