@tailwind base;
@tailwind components;
@tailwind utilities;

body, .markdown-body {
    font-family: 'Cairo', sans-serif !important;
}

.h-full-minus-bar {
  /* screen - navbar */
  height: calc(100vh - 81px);
}

/* Monaco Editor */
.iPadShowKeyboard{
  display: none;
}
.no-user-select, .showUnused {
  padding-top: 10px !important;
}

/* Markdown */
body .markdown-body {
  background-color: inherit !important;
  color: oklch(var(--bc)) !important;
}

.markdown-body h2 {
  width: fit-content;
}

pre {
  direction: ltr !important;
}

.markdown-body .highlight pre {
  background-color: var(--fallback-b3,oklch(var(--b3)/1)) !important;
}

mark {
  background-color: transparent;
  color: inherit;
  border: 1px solid #cccccc;
  padding: 10px;
  display: inline-block; 
  position: relative; 
  border-radius: 10px;
  margin-bottom: 10px;
}

mark::before {
  content: "ملاحظة";
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Split Panel */
.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  position: relative;
  z-index: 2;
  background-color: oklch(var(--b3));
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 7px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  filter: invert(100%);
  background-repeat: no-repeat;
  pointer-events: none; 
}

[data-theme="dracula"] .gutter::before {
  filter: none;
}

.gutter.gutter-horizontal::before {
  content: ''; 
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--fallback-bc,oklch(var(--bc)/.2));
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--fallback-bc,oklch(var(--bc)/.2)) var(--fallback-bc,oklch(var(--bc)/.2));
}

body::-moz-scrollbar-track {
  background-color: transparent;
}

body::-moz-scrollbar-thumb {
  background-color: var(--fallback-bc,oklch(var(--bc)/.2));
  border-radius: 6px;
}
.animation-toast {
  animation: toast 6s
}
@keyframes toast {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
  
}